/* Assigns text and background colors using variables  */
$text-color: #3D3D3D;
$background-color: #6D6D6D;

body {
    background-color: $background-color;
    color: $text-color;
}

p {
    color: $text-color;
}

h2 {
    background-color: $background-color;
}